*{
    padding: 0;
    margin: 0;
}

@media screen and (max-width:767px){
    .project_row{
        display: flex !important;
        flex-direction: row;
        row-gap: 1vh;
    }
    .project_section_child_wrapper{
        text-align:center;
    }
    .project_description2{
        font-size:10pt;
        line-height: 14pt;
    }
}