*{
  padding:0;
  margin:0;
  list-style-type:none ;
  font-family: Poppins, sans-serif;
}
@media (min-width: 1400px) {
  .container {
      max-width: 1140px !important;
  }
}

/*navigation coding start here*/
.name_span{
  color: #0068E3;
  font-weight: bold;
}
.surname_span{
  font-weight: bold;
  color: #FF6C02;
}
.nav_list_items_wrapper{
  column-gap: 20px;
}
.nav_link_item{
  font-weight: bold;
  font-size: 11pt;
  color: black !important;
}
/*navigation coding ended here*/