*{
    padding: 0;
    margin: 0;
}
.technology_icons_wrapper{
    column-gap:30pt;
}
.technology_icon{
    font-size:50pt !important;
}

@media screen and (max-width:767px){
    .technology_icons_wrapper{
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
        row-gap: 2pt;
        text-align: center;
        padding-right: 20pt;
    }
}
@media screen and (min-width:400px) and (max-width:518px){
    .technology_icons_wrapper{
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
        row-gap: 10pt;
        text-align: center;
    }
}
@media screen and (min-width:518px) and (max-width:990px){
    .technology_icons_wrapper{
        display: grid !important;
        grid-template-columns: repeat(4,1fr);
        row-gap: 10pt;
        text-align: center;
    }
}